.container_products {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 90vw;
          margin-left: auto;
          margin-right: auto;
          height: auto;
          padding-bottom: 50px;
}

@media (min-width: 768px) {
          .container__header {
                    width: 60vw;
          }

          .container_products {
                    width: 60vw;
                    margin-left: auto;
                    margin-right: auto;
          }

          .card {
                    width: 30%;
          }

          .card-carrinho {
                    width: 100% !important;
          }

          .card-carrinho-checkout {
                    padding: 20px 10px 0px !important;
          }

          .btn_add_cart-carrinho a {
                    width: 180px !important;
          }

          .card-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
          }

          .card-box .img-movie {
                    width: 150px !important;
          }

          .trash-img {
                    width: 14px !important;
                    padding-right: 5%;
          }

          .card-carrinho-footer {
                    display: flex;
                    flex-direction: row !important;
                    align-items: center !important;
                    justify-content: space-between !important;
                    height: 58px;
          }

          .box-total {
                    align-items: center !important;
          }

          .line {
                    width: 100% !important;
                    left: 0%;
                    bottom: 0%;
                    height: 1px !important;
          }

          .line-cart {
                    width: 100% !important;
                    left: 0%;
                    bottom: 10%;
                    height: 1px !important;
          }

          .card-box-title {
                    display: flex;
                    justify-items: center;
                    justify-content: space-between;
                    width: 68%;
                    transform: translate(6%, 0);
                    margin-left: auto;
                    margin-right: auto;
          }

          .card-box-title h1 {
                    font-size: 14px !important;
                    color: #999999 !important;
          }

          .btn_add_cart-carrinho {
                    text-align: center;

          }

}